@import 'primeicons/primeicons.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

.p-button-xs .p-button-icon-only {
  font-size: 0.75rem;
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

mat-card-header span {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
